<div>
  <div>
    <h1>Save any kind of movies</h1>
    <h3></h3>
  </div>
</div>
<div>
  <div>
    <h3 class="mb-0">My Lists</h3>
    <%= link_to 'Create a movie list', new_list_path%>
  </div>
  <div>
    <% @lists.each do |list| %>
      <div>
        <%= link_to list_path(list) do %>
          <div>>
            <%= list.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>